@charset "utf-8";

.breadcrumb {
    display: flex;
    margin: 20px 0;
}
.breadcrumb_item {
margin: 0 2px;
}
.breadcrumb_item a {
    font-size: 0.8rem;
    color: #fff;
}
@media screen and (min-width:940px) {
    .breadcrumb_item a {
        font-size: 1rem;
    }
}
.breadcrumb li + li:before{
	content: ">";
	margin:.5em;

}
